@model DesafioTecnicoAlunoTurma.DTO.AlunoDTO

@{
    ViewData["Title"] = "Create";
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/passwordStrengthMeter.js"></script>
<script language="javascript">
    var result = "";
    jQuery(document).ready(function () {
        $('#txtpassword').keyup(function () {
            $('#result').html(passwordStrength($('#txtpassword').val(), ""))
            result = $('#result').html();
            if (result == "Muito Curta") {
                $('#result').attr({ 'style': 'color:Red;' });
            }
            if (result == "Ruim") {
                $('#result').attr({ 'style': 'color:Olive;' });
            }
            if (result == "Boa") {
                $('#result').attr({ 'style': 'color:Lime;' });
            }
            if (result == "Forte") {
                $('#result').attr({ 'style': 'color:Green;' });
            }
        })
    })
    function ValidateForm() {
        if (result == "Boa" || result == "Forte") {
            return true;
        }
        else {
            alert("A senha é FRACA.");
            return false;
        }
    }
</script>

<h4>Aluno</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usuario" class="control-label"></label>
                <input asp-for="Usuario" class="form-control" />
                <span asp-validation-for="Usuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Senha" class="control-label"></label>
                <input asp-for="Senha" type="password" id="txtpassword" class="form-control" />
                <span asp-validation-for="Senha" id="result" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" onclick="javascript:return ValidateForm();" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="GetAll">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
